.about-us_page
    width: 85%
    margin: 0 auto
    padding-top: 30px

    .sources
        margin-top: 10px

        .icon-micons
            position: relative
            &::before
                content: ''
                width: 15px
                height: 15px
                position: absolute
                top: 5px
                left: -15px
                background: no-repeat url("../../../../img/backgrounds/micons-icon.jpg")

        .icon-react
            position: relative
            &::before
                content: ''
                width: 15px
                height: 15px
                position: absolute
                top: 5px
                left: -15px
                background: no-repeat url("../../../../img/backgrounds/react-icon.jpg")

        .icon-js
            position: relative
            &::before
                content: ''
                width: 15px
                height: 15px
                position: absolute
                top: 5px
                left: -15px
                background-image: url("../../../../img/backgrounds/js-icon.jpg")
        
        .icon-html
            position: relative
            &::before
                content: ''
                width: 15px
                height: 15px
                position: absolute
                top: 5px
                left: -15px
                background-image: url("../../../../img/backgrounds/htmlIcon.jpg")
                

    div
        font-size: 20px
        margin-top: 2px

    a
        padding-left: 5px
        font-size: 20px
        color: rgb(217, 217, 217)
        text-decoration: none

        &:hover
            color: rgb(111, 111, 111)
    