.welcomingText
    margin: 7.5vh auto 0 auto
    padding: 10px 20px
    text-align: justify
    width: 60vw
    font-size: 20px
    background-color: rgba(52, 78, 102, 0.8)

    div
        margin: 25px 0

@media (max-width: 900px)
    .welcomingText
        font-size: 18px
        width: 80vw
