.filter-block
    background: rgba(52, 78, 102, .8)
    width: 80%
    margin: 0 auto
    color: white
    padding: 5px
    .filter-label
        font-size: 23px

    .area-filter
        display: flex

        input
            width: 5.5vw
            margin: 0 15px

        .slider
            width: 70%

    .dependence-filter
        display: flex
        align-items: center
