.filter-block
    background: white
    width: 80%
    margin: 0 auto
    color: black
    .filter-label
        font-size: 23px

    .area-filter
        display: flex

        input
            width: 5.5vw
            margin: 0 15px

        .slider
            width: 70%

    .dependence-filter
        display: flex
        align-items: center
