.current-country
    backdrop-filter: blur(5px)
    position: relative
    box-sizing: border-box
    width: 85vw
    min-height: 80vh
    margin: 0 auto
    background-color: rgba(4, 126, 124, 0.862)
    border: 0.75px solid red
    padding: 5px 15px

    .color-setup
        position: absolute

        button
            aspect-ratio: 1/1

        .color-1
            background-color: rgba(250, 184, 114, 0.862)

        .color-2
            background-color: rgba(48, 40, 88, 0.862)

        .color-3
            background-color: rgba(4, 126, 124, 0.862)

    .sections
        display: flex
        justify-content: space-between

    .left-section
        width: 40%
        min-height: 70vh

    .right-section
        width: 54%
        min-height: 70vh

        .google-map
            height: 90%

    .current-country__title
        font-size: 46px
        text-align: center
        text-decoration: underline
        margin: 0 0 20px 0
        font-weight: bolder
        text-transform: uppercase

    .current-country-info
        width: 100%
        display: flex
        font-size: 20px
        margin: 0 0 0 20px
        div
            margin: 5px 0

        .left-info-section
            margin: 0 25px 0 0
            width: 100%
            .flags
                display: flex
                justify-content: space-between
                align-items: center

                .flag-frame
                    height: 20vh
                    aspect-ratio: 7/4

                    .flag-img
                        height: 100%
                        width: 100%

                .coat-of-arms
                    margin: 25px
                    height: 20vh
                    aspect-ratio: 1/1

                    img
                        height: 100%
                        width: auto

    .current-country__map
        margin: 0 auto
        border: 1px solid red

    .open-street-maps
        margin: 10px 0 0 0
        text-align: center

        a
            color: #fefba5
            text-decoration: none

    .retranslator
        text-decoration: none
        color: white
        cursor: pointer
        transition: .15s

        &:hover
            color: rgb(53, 6, 23)
