.header-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
    height: 10vh;
    background-color: rgba(52, 78, 102, .8);

    .header{
        cursor: pointer;
    }
}